body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-title {
  font-size: 40px;
  font-weight: 200;
}

.header-search {
  /* flex: 1; */
}

.header-search-bar {
  height: 12px;
  padding: 5px;
}

.header-search-icon {
  background-color: blanchedalmond;
  height: 12px;
}

.header-nav {
  display: flex;
  /* justify-content: space-between; */
}

.header-option {
  padding-left: 20px;
}

.header-basket {
  display: flex;
}

.search-more {
  transform: translateY(-50%);
}

.item-listings {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.card {
  display: grid;
  position: relative;
  background-color: white;
  width: 20rem;
}

.card-body {
  margin-top: 10px;
}

.checkout-item, .checkout-final {
  display: flex;
  margin: 10px;
}

.checkout-item-img {
  width: 200px;
  /* max-width: 300px; */
}

.checkout-item-info {
  width: 400px;
}

.checkout-item-total {
  width: 120px;
}

/* .proceed-to-checkout {
  border: 5px ridge;
  border-radius: 10px;
  width: 400px;
  display: block;
} */

.checkout-card {
  height: 300px;
  width: 500px;
}

.checkout-table {
  margin-top: 10px;
}
.checkout-total {
  display: flex;
}

/* .fave {
  position: absolute;
  top: 5%;
  left: 55%;
} */